In [1]:
import pandas as pd
import glob
from matplotlib import pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

#load the last 10 years
path = r'./data_v2/yearly' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df_combined = pd.concat(li, axis=0, ignore_index=True)
# Load Data and Remove unused fields
df_combined = df_combined.drop(columns=['Unnamed: 0', 'G', 'GS', 'Tgt', 'Yds', 'Yds.1', 'Yds.2', 'Int', 'Att', 'Att.1', 'FumblesLost', 'Cmp', 'Y/R'])

In [3]:
df_2019 = pd.concat(frames)

In [4]:
# Get total TDs and remove unnecessary fields
df_2019['TDs'] = df_2019['PassingTD'] + df_2019['RushingTD'] + df_2019['ReceivingTD']
df_2019 = df_2019.drop(columns=['PassingTD', 'RushingTD', 'ReceivingTD'])
df_2019.head()

,Player,Tm,Pos,Age,Rec,Fumbles,PassingYds,PassingAtt,RushingYds,RushingAtt,ReceivingYds,FantasyPoints,TDs
0,Christian McCaffrey,CAR,RB,23.0,116.0,1.0,0.0,2.0,1387.0,287.0,1005.0,469.20,19.0
1,Lamar Jackson,BAL,QB,22.0,0.0,9.0,3127.0,401.0,1206.0,176.0,0.0,415.68,43.0
2,Derrick Henry,TEN,RB,25.0,18.0,5.0,0.0,0.0,1540.0,303.0,206.0,294.60,18.0
3,Aaron Jones,GNB,RB,25.0,49.0,3.0,0.0,0.0,1084.0,236.0,474.0,314.80,19.0
4,Ezekiel Elliott,DAL,RB,24.0,54.0,3.0,0.0,0.0,1357.0,301.0,420.0,311.70,14.0

In [5]:
# Get total YDS and remove unnecessary fields
df_2019['YDs'] = df_2019['PassingYds'] + df_2019['RushingYds'] + df_2019['ReceivingYds']
df_2019 = df_2019.drop(columns=['PassingYds', 'RushingYds', 'ReceivingYds'])
df_2019.head()

,Player,Tm,Pos,Age,Rec,Fumbles,PassingAtt,RushingAtt,FantasyPoints,TDs,YDs
0,Christian McCaffrey,CAR,RB,23.0,116.0,1.0,2.0,287.0,469.20,19.0,2392.0
1,Lamar Jackson,BAL,QB,22.0,0.0,9.0,401.0,176.0,415.68,43.0,4333.0
2,Derrick Henry,TEN,RB,25.0,18.0,5.0,0.0,303.0,294.60,18.0,1746.0
3,Aaron Jones,GNB,RB,25.0,49.0,3.0,0.0,236.0,314.80,19.0,1558.0
4,Ezekiel Elliott,DAL,RB,24.0,54.0,3.0,0.0,301.0,311.70,14.0,1777.0

In [6]:
# Get total Touches and remove unnecessary fields
df_2019["Touches"] = df_2019['Rec'] + df_2019['PassingAtt'] + df_2019['RushingAtt']
df_2019 = df_2019.drop(columns=['Rec', 'PassingAtt', 'RushingAtt'])
df_2019.head()

,Player,Tm,Pos,Age,Fumbles,FantasyPoints,TDs,YDs,Touches
0,Christian McCaffrey,CAR,RB,23.0,1.0,469.20,19.0,2392.0,405.0
1,Lamar Jackson,BAL,QB,22.0,9.0,415.68,43.0,4333.0,577.0
2,Derrick Henry,TEN,RB,25.0,5.0,294.60,18.0,1746.0,321.0
3,Aaron Jones,GNB,RB,25.0,3.0,314.80,19.0,1558.0,285.0
4,Ezekiel Elliott,DAL,RB,24.0,3.0,311.70,14.0,1777.0,355.0

In [7]:
# let's remove any player without at least 50 touches
df_2019.drop(df_2019[df_2019.Touches < 10].index, inplace=True)
df_2019.sort_values(by='Touches', ascending=False)

,Player,Tm,Pos,Age,Fumbles,FantasyPoints,TDs,YDs,Touches
26,Ben Roethlisberger,PIT,QB,36.0,7.0,333.86,37.0,5226.0,707.0
37,Andrew Luck,IND,QB,29.0,6.0,323.92,39.0,4745.0,686.0
29,Jameis Winston,TAM,QB,25.0,12.0,297.36,34.0,5359.0,685.0
59,Carson Wentz,PHI,QB,27.0,16.0,271.86,28.0,4282.0,669.0
78,Jared Goff,LAR,QB,25.0,10.0,247.52,24.0,4678.0,659.0
...,...,...,...,...,...,...,...,...,...
369,Mack Hollins,2TM,WR,26.0,0.0,22.50,0.0,125.0,10.0
339,Vernon Davis,WAS,TE,35.0,0.0,28.30,1.0,123.0,10.0
342,Michael Floyd,WAS,WR,29.0,0.0,26.00,1.0,100.0,10.0
344,Andy Janovich,DEN,RB,25.0,0.0,25.70,1.0,117.0,10.0
313,JJ Arcega-Whiteside,PHI,WR,23.0,0.0,32.90,1.0,169.0,10.0

In [8]:
# 30% for test, 70% for training
print (0.2*len(df_2019))
print (0.8*len(df_2019))
df_2019 = df_2019.sample(frac=1).reset_index(drop=True)
df_2019.head()

202.0
808.0

,Player,Tm,Pos,Age,Fumbles,FantasyPoints,TDs,YDs,Touches
0,Alshon Jeffery,PHI,WR,28.0,1.0,185.30,6.0,843.0,65.0
1,Dawson Knox,BUF,TE,23.0,0.0,79.70,2.0,397.0,29.0
2,James O'Shaughnessy,JAX,TE,27.0,0.0,41.30,2.0,153.0,14.0
3,Brock Osweiler,MIA,QB,28.0,1.0,65.98,6.0,1268.0,186.0
4,Bruce Ellington,HOU,WR,26.0,1.0,75.70,2.0,347.0,32.0

In [9]:
df_train = df_2019[:808]
df_test = df_2019[-202:]

print("Train:")
df_train.head()
print("Test:")
df_test.head()

Train:
Test:

           Player   Tm Pos   Age  Fumbles  FantasyPoints  TDs    YDs  Touches
808     Joe Mixon  CIN  RB  21.0      3.0          141.3  4.0  913.0    208.0
809   D.J. Foster  ARI  RB  24.0      0.0           32.2  0.0  152.0     23.0
810  Brice Butler  DAL  WR  27.0      0.0           64.7  3.0  317.0     15.0
811   David Njoku  CLE  TE  22.0      0.0          143.9  4.0  639.0     56.0
812  Matt LaCosse  NWE  TE  27.0      0.0           32.1  1.0  131.0     13.0

In [10]:
# save to csv files
df_train.to_csv('./2019_train.csv')
df_test.to_csv('./2019_test.csv')